#root {
  overflow: hidden;
}
.outer {
  background-image: url(./components/images/bg.jpg);
  border-radius: 20px;
}
.outer-body {
  /* width: 100vw; */
  height: 92.9vh;
}
.alert-popup {
  position: fixed;
  z-index: 999;
  animation: alertpopup 1s forwards cubic-bezier(0,1.57,1,.92);
  width: 125px;
  margin: 5px 0px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}
@keyframes alertpopup {
  from {
    margin-left: 100vw;
  }
  to {
    margin-left: 92.5vw;
  }
}
.colorPalette{
    display: flex;
    margin: 0px 0px 0px 10px;
    justify-content: space-between;
}
.colorPalette .blue,.green{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.colorPalette .blue{
    background-color: blue;
    margin-right: 2px;
}
.colorPalette .green{
    background-color: green;
    margin-left: 2px;
}
.put-border{
    border: 2px #BCABAE solid;
}